<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.sintef.giot.bhp.fitbit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name="no.sintef.giot.bhp.fitbit.FitbitApplication">

    </application>

</manifest>